* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    min-height: 100%;
}

#main-content {
    display: flex;
    justify-content: center;
    grid-column: 3/11;
}

table {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 50em;
    height: 50em;
    border-style: dotted;
    border-spacing: 1px;
}